# SSNPP uint8 1B config. Data/query/index paths come from the GT JSON.
cluster_num 50000
K 245
mem_budget 512
mode disk
gorder_window 0
io_queue_depth 256
pca_rank 32
slab_count 512
cell_filter_enabled true
target_cell_vecs 24
vec_dtype uint8
fast_path_enabled true
fast_path_mode rbq
data_hnsw_enabled false
